@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定义CSS变量 */
:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
